@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #262626;
}

main {
    position: relative;
    min-height: 100dvh;
    max-width: 420px;
    margin: 0 auto;
    background: linear-gradient(
            131.89deg,
            rgba(255, 255, 255, 0.0977347) 2.37%,
            rgba(151, 71, 255, 0.04) 18.91%,
            rgba(217, 89, 245, 0.04) 46.19%,
            rgba(151, 71, 255, 0.06) 64.26%,
            rgba(49, 150, 244, 0.08) 80.4%,
            rgba(151, 71, 255, 0.04) 89.24%
        )
        #fff;

    overflow: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
